
<!-- Footer Start -->
<div class="footer" style="padding-top:2%; margin-top:2%;">
                
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
            
                <div class="footer-about">
                
                    <h2 style="text-align:center;">Hakkında</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu lectus a leo tristique dictum nec non quam. Suspendisse convallis, tortor eu placerat rhoncus, lorem quam iaculis felis, sed eleifend lacus neque id eros. Integer convallis volutpat neque
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-link">
                    <h2>Avukatlık Hizmetleri</h2>
                    <a href="avukatlik-hizmetleri.html">Borçlar Hukuku</a>
                    <a href="avukatlik-hizmetleri.html">Aile Hukuku</a>
                    <a href="avukatlik-hizmetleri.html">Ticaret Hukuku</a>
                    <a href="avukatlik-hizmetleri.html">Eşya Hukuku</a>
                    <a href="avukatlik-hizmetleri.html">Göçmenlik Hukuku</a>
                    <a href="avukatlik-hizmetleri.html">Vergi Hukuku</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-link">
                    <h2>Faydalı Sayfalar</h2>
                    <a href="{% url 'hakkinda' %}">Hakkında</a>
                    <a href="{% url 'avukatlik-hizmetleri' %}">Avukatlık Hizmetleri</a>
                   <!-- <a href="">Avukatlar</a>
                    <a href="">Vaka Calismalari</a> -->
                    <a href="{% url 'sss' %}">S.S.S</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-contact">
                    <h2>İletişim</h2>
                    <p><i class="fa fa-map-marker-alt"></i>123 Sokak, Izmir, Turkiye</p>
                    <p><i class="fa fa-phone-alt"></i>+90 123 123 45 45</p>
                    <p><i class="fa fa-envelope"></i>info@zisan.com</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container footer-menu">
        <div class="f-menu">
            <a href="">Kullanım Şartları</a>
            <a href="">Gizlilik Politikası</a>
            <a href="">Çerezler</a>
            <a href="{% url 'iletisim' %}">Destek</a>
            <a href="{% url 'sss' %}">SSS</a>
            <a href="{% url 'login' %}">Admin</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="https://htmlcodex.com/law-firm-website-template">Tan Demirtaş</a>, Tum Hakları Saklıdır.</p>
            </div>
            <div class="col-md-6">
                <p> <a href="https://htmlcodex.com">Tan Demirtaş tarafından tasarlandı</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>


    
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/easing.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/isotope.pkgd.min.js"></script>

<!-- Template Javascript -->
<script src="/static/js/main.js"></script>
</body>
</html>
