<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8">
        <title>Av. Zişan - Avukatlık Bürosu</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Av. Zişan - Hukuk Bürosu" name="keywords">
        <meta content="Av. Zişan - Hukuk Bürosu" name="description">

        <!-- Favicon -->
        <link href="favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="animate.min.css" rel="stylesheet">
        <link href="owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            
            
            {%  include 'navbar.html' %}
            
            
            <!-- Page Header Start -->
            <!--
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Bizimle Iletisime Gecin</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Anasayfa</a>
                            <a href="">Iletisim</a>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!-- Page Header End -->


            <!-- Contact Start -->
            <div class="contact" style="align-items:center; padding-top:0px;">
                <div class="container">
                    <div class="section-header">
                      <!--  <h2>Iletisim</h2> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="contact-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="contact-text">
                                        <h2>Adres</h2>
                                        <p>123 Sokak, Canakkale, Turkiye</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="fa fa-phone-alt"></i>
                                    <div class="contact-text">
                                        <h2>Telefon</h2>
                                        <p>+90 345 67890</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="fa fa-envelope"></i>
                                    <div class="contact-text">
                                        <h2>E-posta</h2>
                                        <p>info@zisan.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" style="width:20%;">
                            <div class="contact-form" style="width:20%;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d200066.14127575897!2d26.939630912316478!3d38.41759167383829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd862a762cacd%3A0x628cbba1a59ce8fe!2zxLB6bWly!5e0!3m2!1sen!2str!4v1627163687958!5m2!1sen!2str" width="350px;" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <!--
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Isminiz" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="E-posta adresiniz" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Konu" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Mesaj" required="required" ></textarea>
                                    </div>
                                    <div>
                                        <button class="btn" type="submit">Mesaj Gonderin</button>
                                    </div>
                                </form>
                                -->
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- Contact End -->


            <!-- Newsletter Start -->
            <!--
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Haber Bultenimize Abone Olun</h2>
                    </div>
                    <div class="form">
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Gonder</button>
                    </div>
                </div>
            </div>
            -->
            <!-- Newsletter End -->


            {%  include 'footer.html' %}
