
{% load static %}
{% block content %}
{%  include 'navbar.html' %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>"{{item}}" haberini silmek istediginize emin misiniz?</p>

			<form action="{% url 'habersil' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'anasayfa' %}">Iptal</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="Sil">
			</form>
		</div>
	</div>
</div>
{%  include 'footer.html' %}
{% endblock %}